<div class="expansion-panel-container">
    <form  action="" [formGroup]="formulario">
        <mat-accordion class="expansion-panel">
            <mat-expansion-panel #expansionPanel>
                <mat-expansion-panel-header>
                    <mat-panel-title> 
                        <ng-container *ngIf="exercisetwo.name; else noTitle">
                            {{exercisetwo.name}}
                        </ng-container>
                        <ng-template #noTitle>
                            Novo Exercício
                          </ng-template>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field class="fullWidth" >
                    <mat-label>Nome</mat-label>
                    <input [readonly]="!isEditingEnabled"  [(ngModel)]="exercisetwo.name" matInput type="text" formControlName="name" name="name"
                        placeholder="Ex. Elevação lateral" />
                </mat-form-field>


                <mat-form-field class="fullWidth">
                    <mat-label>Descrição</mat-label>
                    <textarea [readonly]="!isEditingEnabled" [(ngModel)]="exercisetwo.description" matInput formControlName="description" type="text"
                        name="description" placeholder="Ex. Elevação lateral com halteres"></textarea>
                </mat-form-field>

                <mat-form-field class="fullWidth">
                    <mat-label>Repetições</mat-label>
                    <input [readonly]="!isEditingEnabled" [(ngModel)]="exercisetwo.reps" matInput type="number" formControlName="reps" name="reps"
                        placeholder="Ex. 12" />
                </mat-form-field>

                <mat-form-field class="fullWidth">
                    <mat-label>Séries</mat-label>
                    <input [readonly]="!isEditingEnabled" [(ngModel)]="exercisetwo.sets" matInput type="number" formControlName="sets" name="sets"
                        placeholder="Ex. 4" />
                </mat-form-field>

                <mat-form-field class="fullWidth">
                    <mat-label>Descanso</mat-label>
                    <input [readonly]="!isEditingEnabled" [(ngModel)]="exercisetwo.rest" matInput type="text" formControlName="rest" name="rest"
                        placeholder="Ex. 30 segundos de descanso" />
                </mat-form-field>
                


                <ng-container *ngIf="isEditingEnabled">
                <button mat-raised-button color="primary" [disabled]="!isEditingEnabled"(click)= "addExercise()">
                    <i class="material-icons addicon">save</i> Salvar</button>

                </ng-container>


            </mat-expansion-panel>
        </mat-accordion>
    </form>

    <button (click)="deleteExercise(exercise)" class="delete-button">
        <i class="material-icons">delete</i>
    </button>
</div>