<div class="expansion-panel-container">
    <mat-accordion class="expansion-panel">
        <mat-expansion-panel #expansionPanel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <ng-container *ngIf="exercise.name">
                        {{exercise.name}}
                    </ng-container>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field class="fullWidth">
                <mat-label>Nome</mat-label>
                <input [readonly]="!isEditingEnabled" matInput type="text" name="name"
                    placeholder="Ex. Elevação lateral" />
            </mat-form-field>


            <mat-form-field class="fullWidth">
                <mat-label>Descrição</mat-label>
                <textarea [readonly]="!isEditingEnabled" matInput type="text" name="description"
                    placeholder="Ex. Elevação lateral com halteres"></textarea>
            </mat-form-field>

            <mat-form-field class="fullWidth">
                <mat-label>Repetições</mat-label>
                <input [readonly]="!isEditingEnabled" matInput type="number" name="reps" placeholder="Ex. 12" />
            </mat-form-field>

            <mat-form-field class="fullWidth">
                <mat-label>Séries</mat-label>
                <input [readonly]="!isEditingEnabled" matInput type="number" name="sets" placeholder="Ex. 4" />
            </mat-form-field>

            <mat-form-field class="fullWidth">
                <mat-label>Descanso</mat-label>
                <input [readonly]="!isEditingEnabled" matInput type="text" name="rest"
                    placeholder="Ex. 30 segundos de descanso" />
            </mat-form-field>


        </mat-expansion-panel>
    </mat-accordion>


    <button class="delete-button"><i class="material-icons">delete</i></button>
</div>