.container{
    width: 100%;
    margin: auto;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: .6rem;
}


.fullWidth{
    width: 100%;
}

button.mat-mdc-raised-button.mat-primary {
    margin: 1rem auto 1rem auto;
    background: rgb(8, 76, 172);
   
}
.addicon{
    margin: auto 0.5rem auto auto;
}