/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-snack-bar-container {
    &.errorTeste {
      --mdc-snackbar-container-color: #ff0000;
      --mat-mdc-snack-bar-button-color: #000000;
      --mdc-snackbar-supporting-text-color: #ffffff;
    }
  }

  .mat-mdc-snack-bar-container {
    &.logoutInfo {
      --mdc-snackbar-container-color: #0084ff;
      --mat-mdc-snack-bar-button-color: #000000;
      --mdc-snackbar-supporting-text-color: #ffffff;
    }
  }
