
.container{
  height: 100%;
}

.sidenav{
  width: 13rem;
  color: white;
  background: linear-gradient(90deg, rgba(32,119,203,1) 0%, rgba(27,48,153,1) 100%);
  border-style: none;

}

img {
  width: 100%;
  height: 10rem;
  margin: 0rem auto 0rem 0rem;
}


.sidenav a{
  color: white;
  vertical-align: middle;
  text-decoration: none;
  
}

.sidenav-content{
  min-height: 100vh;
}

.sidenav i{
  color: white;
  margin-right: .6rem;
  vertical-align: middle;
}

.menu{
  margin: 1rem 0 0 1rem;
}